
@{
  Layout = "_Layout";
}

<h1>To Do List</h1>
<ul>
  @foreach(var task in Model)
  {
   <li><a href='/tasks/@task.GetId()'>@task.GetDescription()</a></li>
  }
</ul>
<p><a href="/tasks/new">Add New task</a></p>

<form action="/task/list/clear" method="post">
  <button type="submit" name="button">Clear All Tasks</button>
</form>
